<div class="container mt-5">
  <div class="d-flex justify-content-around">
    <% @kanban_columns.each do |col| %>
      <div class="box border">
          <h1><%=col.name%></h1>
          <% col.client_requests.each do |interview| %>
            <div class="border bg-warning bg-opacity-50 m-2">
              <div class="card m-2 main-request border border-danger" id="item1" >
                <div class="card-body">
                <p class="card-text mb-0">#<%= interview.id %></p>
                <h5 class="card-title"><%= interview.customer_name %></h5>
                </div>
              </div>
              <div class="sub-tickets">
                <% interview.departments.each do |dept| %>
                  <% if interview.kanban_column.name == 'new_request' %>
                    <div class="card m-2 main-request border border-dark"  draggable="true" id="item1" >
                      <div class="card-body">
                          <p class="mb-0">dept. <%=dept.name%></p>
                          <p class="mb-0">no of resources: <%=dept.no_of_resources%></p>
                      </div>
                    </div>
                  <% end %>
                  <% dept.developers.each do |dev| %>
                    <% if col.name == dev.developer_status %>
                      <div class="border bg-warning bg-opacity-50 m-2">
                        <div class="sub-tickets">
                            <div class="card m-2 main-request border border-dark"  draggable="true" id="item1" >
                              <div class="card-body">
                                  <p class="mb-0">dept. <%=dev.name%></p>
                              </div>
                            </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <%end%>
              </div>
            </div>
          <%end%>
          <!--if developers exist and main ticket is in new request-->
          <% @client_requests.each do |interview| %>
            <% interview.departments.each do |dept| %>
              <% dept.developers.each do |dev| %>
                <% if col.name == dev.developer_status && interview.kanban_column.name !=  dev.developer_status %>
                  <div class="bg-warning bg-opacity-50 m-2" >
                    <div class=" m-2">
                      #id : <%=interview.id%>
                    </div>
                    <div class="card border border-dark m-2" draggable="true">
                      <p class="mb-0">dept. <%=dept.name%></p>
                      <p class="mb-0">developer. <%=dev.name%></p>
                    </div>
                  </div>
                <% end %>
              <%end%>
            <%end %>
          <%end%>
      </div>
    <% end %>
  </div> 
</div>
