<div class="set-center flex-column form h-auto mt-3">
  <div class="row justify-content-center">
    <div class="card shadow" style="width: 36rem;">
      <div class="card-header">
        <h2 class="text-center mt-2">Client Form</h2>
      </div>
      <div class="card-body">
        <!--Error Message-->
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <p class="text-danger"><%= error %></p>
          <% end %>
        <% end %>
        <!-- Form Started Here -->
        <%= form_with model: @client_request, url: homes_path, method: :post, local: true do |f| %>
          <br>
          <%= f.label :customer_name, "Customer Name :" , class: "mb-2" %>
          <%= f.text_field :customer_name , placeholder: "Enter Customer Name Here", class: "form-control" %>
          <%= f.hidden_field :kanban_column_id  , value: "1"%>
          <br>
          <div class="d-flex justify-content-center">
            <%= f.submit "Save", class:"btn btn-secondary border-0 shadow py-2 px-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
